.git
.gitlab-ci.yml
.cicd
.gradle
**/.gradle
**/build
**/target
!icp_server/target/
icp_server/target/*
!icp_server/target/bin/
!icp_server/target/bin/icp_server.jar
**/node_modules
frontend/dist
frontend/.vite
icp_server/database
e2e-tests
logs
**/*.log
.vscode
.idea
.serena
